@using BibliotecaUteco.Client.Utilities
   
        
        
    <AuthorizeView Roles="Admin">
        <Authorized>
            <LumexChip Class="cursor-pointer" @onclick="TriggerOnClicked"  Size="Size.Small" Variant="ChipVariant.Flat" Color="@Color">
                <ChildContent>
                    <p class="text-sm font-semibold line-clamp-1 text-ellipsis overflow-hidden">@Genre.Name</p>
                </ChildContent>
              
            </LumexChip>

        </Authorized>
        <NotAuthorized>
            <LumexChip  @onclick="TriggerOnClicked"  Size="Size.Small" Variant="ChipVariant.Flat" Color="@Color">
                <p class="text-sm font-semibold line-clamp-1 text-ellipsis overflow-hidden">@Genre.Name</p>

            </LumexChip>
        </NotAuthorized>
     </AuthorizeView>
   
    


@code{

    [Parameter] public GenreResponse Genre { get; set; } = new();
    [Parameter] public EventCallback<GenreResponse> OnClicked {get; set;}
    public ThemeColor Color { get; set; } = ThemeColor.Default;

}

@functions{

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Color = RandomColorHelper.GetRandomColor();
            StateHasChanged();
        }
    }

    public async Task TriggerOnClicked(){

        await OnClicked.InvokeAsync(Genre);
    }
}