@page "/home"
@using Microsoft.IdentityModel.JsonWebTokens
@layout MainLayout

<AuthorizeView>
    <Authorized>

        
        <h1>Si ves esto, estas autorizado como @context.User.FindFirst( JwtRegisteredClaimNames.Nickname) y el login funciona!</h1>

    </Authorized>
</AuthorizeView>

<LumexButton OnClick="@CloseSession">Cerrar sesion</LumexButton>


@functions{

    public async Task CloseSession()
    {
        await AuthStateProvider.UpdateAuthenticationStateAsync(null);
    }
}