@page "/"

@layout DefaultLayout

<PageTitle>Index</PageTitle>

<section class="w-full h-full flex max-md:flex-col  justify-center items-center  relative ">
    <img class=" inset-0 z-0 w-[60%] max-md:w-full h-full object-cover" src="https://uteco.edu.do/wp-content/uploads/Biblioteca.jpg"/>
   
    <div class="flex flex-col h-full justify-center items-center z-10 w-[40%] p-[30px]  max-md:w-full border-l border-neutral-200 rounede-l-lg">
       <LoginForm/>
    </div>
</section>

