@inherits LayoutComponentBase
<AuthorizeView>
    <NotAuthorized>
        <RedirectToIndex/>
    </NotAuthorized>
</AuthorizeView>


<div class="relative flex w-full h-screen">
    <SideBar OnSideBarExpandedChanged="(e)=> SideBarExpanded = e" SideBarExpanded="SideBarExpanded"/>
    <main class=@($"flex-1 ml-[250px] max-md:ml-[75px]  {(!SideBarExpanded ? " !ml-[75px] " : "" )}")>
       
        <nav class="w-full z-40 sticky top-0 py-2 px-4 items-center border-b border-neutral-300 h-[50px] gap-3 flex justify-end bg-neutral-100">
            <h2 class="text-xl select-none font-semibold">Biblio<span class="underline decoration-green-600 decoration-2">Uteco</span></h2>
            <img class="size-[50px] aspect-square" src="https://akanuxt.uteco.edu.do/_nuxt/img/logo.f9c953e.svg" alt="uteco logo"/>

        </nav>
        <article class="content px-4 mt-[50px] max-w-full">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{

    public bool SideBarExpanded {get; set;} = true;
}

