<LumexPopover Shadow="Shadow.Large" Placement="PopoverPlacement.BottomStart" ShowArrow="true" >
    <LumexPopoverTrigger>
        <button class="w-full">
           @ChildContent
         </button>
         
    </LumexPopoverTrigger>

    <LumexPopoverContent>
        <AuthorsContainer OnAuthorClicked="HandleAuthorClicked" />
    </LumexPopoverContent>
</LumexPopover>


@code{

    [Parameter] public EventCallback<AuthorResponse> OnAuthorSelected {get; set;}

    [Parameter] public RenderFragment ChildContent {get; set;}
}

@functions{

    public async Task HandleAuthorClicked(AuthorResponse author){

        await OnAuthorSelected.InvokeAsync(author);
    }
}