<LumexPopover Shadow="Shadow.Large" Placement="PopoverPlacement.BottomStart" ShowArrow="true" >
    <LumexPopoverTrigger>
        <button>
          @if(ChildContent is not null){@(ChildContent)}
  
        </button>
    </LumexPopoverTrigger>

    <LumexPopoverContent  >
        <GenresContainer OnGenreClicked="HandleGenreSelected"/>
    </LumexPopoverContent>
</LumexPopover>


@code{

    [Parameter] public RenderFragment? ChildContent { get; set; } = default;


    [Parameter]
    public EventCallback<GenreResponse> OnGenreSelected {get; set;}



}

@functions{

    public async Task HandleGenreSelected(GenreResponse genre){

        await OnGenreSelected.InvokeAsync(genre);
    }
}