

@if (IsExpanded)
{
    <div @onclick="TriggerOnClick" class=@($"gap-3 sidebar-button w-full cursor-pointer rounded-lg  flex items-center px-3 py-2 transition-all text-white text-[16px] {Class}")>
        @if (Icon is not null)
        {
           
                @(Icon)
            
        }
        <span class="text-[13px] font-semibold">@Name</span>

        
    </div>
}
else
{
        <button @onclick="HandleOnClick" class="text-white cursor-pointer py-2 text-[20px] icon-button">
            @if (Icon is not null)
            {
                @Icon
            }
        </button>
    
  
}


@code{

    [Parameter] public RenderFragment? Icon { get; set; } = default;
    
    [Parameter]
    public string Class {get; set;} = string.Empty;

    [Parameter] public string Name { get; set; } = "";
    
    [Parameter]
    public bool IsExpanded {get; set;} = true;
    
    [Parameter]
    public EventCallback OnClick {get; set;}

}

@functions{

    public async Task HandleOnClick()
    {
        await TriggerOnClick();
    }

    public async Task TriggerOnClick()
    {
        await OnClick.InvokeAsync();
    }
}