

@if (IsExpanded)
{
    <div @onclick="TriggerOnClick" class=@($"gap-3 sidebar-button w-full cursor-pointer rounded-lg  flex items-center px-3 py-2 transition-all text-white text-[16px] {Class}")>
        @if (Icon is not null)
        {
            @Icon
        }
        <span class="text-[13px] font-semibold">@Name</span>

        
    </div>
}
else
{
    <IconButton Class='@(Class + " !text-white !hover:bg-transparent")' Size="Size.Medium" TooltipText="@Name" OnClick="@HandleOnCLick">
        @if (Icon is not null)
        {
            @Icon
        }
    </IconButton>
}


@code{

    [Parameter]    
    public RenderFragment? Icon {get; set;}
    
    [Parameter]
    public string Class {get; set;}

    [Parameter] public string Name { get; set; } = "";
    
    [Parameter]
    public bool IsExpanded {get; set;} = true;
    
    [Parameter]
    public EventCallback OnClick {get; set;}

}

@functions{

    public async Task HandleOnCLick()
    {
        await TriggerOnClick();
    }

    public async Task TriggerOnClick()
    {
        await OnClick.InvokeAsync();
    }
}