<LumexCard Class="w-fit h-full group hover:scale-105 transition-all cursor-pointer">
   
    <img src="https://tse2.mm.bing.net/th/id/OIP.Ky7O3RyEsghZYUDSEH-biQHaLT?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3"
         class="object-cover brightness-75 aspect-[2/3]"
         width="300"
         alt="Card background" />
    <LumexCardFooter Blurred="@true"
                     Class="absolute z-10 bottom-0 bg-orange-100/30">
        <div class="flex flex-col flex-grow gap-1 text-small text-zinc-50">
            <p class="font-semibold line-clamp-1">Cancion de Hielo y Fuego</p>
            <p class="font-medium line-clamp-1 text-xs">George R. R. Martin</p>

            <p class="text-green-500 ">+10 en stock</p> <span class="hidden group-hover:block underline">Ver detalles</span>
        </div>
      
    </LumexCardFooter>
</LumexCard>