<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="dist.css"/>
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BibliotecaUteco.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="_content/Blazor.Sonner/styles.css" rel="stylesheet" />

    <HeadOutlet @rendermode="@(new InteractiveWebAssemblyRenderMode(false))" />
</head>

<body>
<Routes @rendermode="@(new InteractiveWebAssemblyRenderMode(false))" />
<script src="_content/LumexUI/js/LumexUI.js" type="module"></script>
<script src="_content/BlazorAnimate/blazorAnimateInterop.js"></script>
<script src="_framework/blazor.web.js"></script>


<script>
    
    window.triggerClick = (element) => {
     if (element) element.click();
    };
</script>
</body>

</html>
